*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica ;
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;

        white-space: nowrap;

   
}

 section{
     width: 100%;
    height: 100%;
     background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
  
  position: relative;
    
    overflow: hidden;
}
section::-webkit-scrollbar{
    display: none;
}


button{
    padding: 10px 20px;
    font-size: 30px;
    background-color: #02c8d6;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 9;
}
