*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica ;
    
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
    
}

#card{
    width: 450px;
    height: 260px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

#outer{
    width: 100%;
    height: 20px;
    background-color: rgb(183, 183, 183);
    margin-top: 10px;
    border-radius: 50px;
}
#inner{
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 50px;
}


#card h3{
    text-align: center;
    margin-top: 20px;
}

#card h3{
    font-size: 13;
    font-weight: 700;
}
#card h3 span{
    font-size: 13;
    font-weight: 700;
    color: royalblue;
}

.elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}

.elem h2{
    font-size: 70px;
    font-weight: 300;
}
.elem button{
    font-size: 30px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(4, 130, 146);
    cursor: pointer;
}
.elem button:active{
    scale: 0.93;
}
